*{
    margin: 0;
    padding: 0;
}
nav{
    height: 75px;
    width: 100vw;
     background-color: #f7f4ed;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
     
}
.m{
    padding-left: 100px;
    color: black;
}

.link{
   
    
    padding-right: 100px;

}
.link a{
text-decoration: none;
    color: black;
    padding-right: 20px;
    font-size: 1.1em;
    
}
#sp{
    color: white;
    background-color: black;
    border-radius: 40px;
    padding: 8px 15px;
   
}
.main{
    height: 691px;
    width: 100vw;
    background-color: #f7f4ed;
    display: flex;
    padding-top: 70px;

}
.content{
    
    padding-top: 180px;
    padding-left: 100px;
    width: 65vw;

}
.hy1{
    
   font-size: 7em;
   font-weight: lighter;
}
.hy2{
    margin-top: -27px;
    font-size: 7em;
    font-weight: lighter;
}
.pa{
    
    margin-top: 30px;
    font-size: 1.5em;
}
#spi{
    font-size: 1.5em;
    display: inline-block;
    margin-top: 45px;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 60px;
    text-decoration: none;
}
footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f4ed;
    border-top: 1px solid black;
    gap: 0 15px;
    
   

}
footer a{
    text-decoration: none;
    color: #6b6b6b;
    
    

}
div.image img{
   margin-top: 50px;
   
    height: 90%;
    width: 100%;

}